* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

.nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 20vh;
    width: 100%;
    z-index: 99999;
}

.page1 {
    height: 100vh;
    width: 100%;
    background-color: firebrick;

    

}

.page2 {
    height: 100vh;
    width: 100%;
    background-color: rgb(111, 111, 242);
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        height: 50%;
        width: 25%;
        object-fit: cover;
        object-position: center;
    }
}

.page3 {
    height: 100vh;
    width: 100%;
    background-color: rgb(126, 199, 70);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}